@import "../../theme/theme";

.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  .Content {
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    background-image: url("../../public/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    color: $black;
    font-family: $core-font;

    a {
      color: inherit;
    }
  }
}
