@import "../../theme/theme";

.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  .Content {
    justify-content: flex-start;
    align-items: center;

    background: $background-light;
    color: $black;
    font-family: $core-font;

    a {
      color: inherit;
    }
  }
}
