@import "../../theme/theme";

$radius: 15px;

.VoucherCard {
  display: flex;
  flex-direction: row;

  font-size: 15px;

  width: 100%;
  background: white;

  border-radius: $radius;
  overflow: hidden;

  box-shadow: $shadow-square;

  animation: fadein 1s;
  transition: transform 0.2s;

  &:hover {
    transform: $zoom-scale;
  }

  &_Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    padding: 20px;

    &_Name {
      font-size: 12px;
      color: $grey;
      margin-bottom: 10px;
    }

    &_Code {
      font-weight: 900;
      color: $secondary;
      letter-spacing: 1px;
    }
  }

  &_Discount {
    text-align: center;
    padding: 20px;
    background-color: $primary;

    font-size: 16px;
    color: $white;
    white-space: nowrap;

    &_Amount {
      font-family: $price-font;
      font-weight: 900;
      margin-bottom: 5px;
    }

    &_Desc {
      font-weight: normal;
      letter-spacing: 1px;
    }
  }
}
