@import "../theme/theme";

.Category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  &_Item {
    display: flex;
    flex-direction: column;

    margin-right: 15px;

    font-size: 14px;
    font-weight: bold;
    color: $grey;

    cursor: pointer;

    &___Selected {
      border-bottom: 2px solid $primary;
    }
  }
}
