@import url("https://fonts.googleapis.com/css?family=Raleway:200,400,800,900|Merriweather+Sans|Share+Tech+Mono|Lato:400,700,900");

$logo-font: "Share Tech Mono", monospace;
$header-font: "Raleway", sans-serif;
$core-font: "Raleway", sans-serif;
$number-font: "Lato";
