@import "../../theme/theme";

$radius: 50%;
$size: 25px;

.ColorOptions {
  display: flex;
  flex-direction: row;
  align-items: center;

  &_Item {
    width: $size;
    height: $size;
    border: 2px solid $disable;
    border-radius: $radius;
    margin-right: 10px;

    &___Selected {
      border-color: $black;
    }
  }
}
