@import "../../theme/theme";

$radius: 50%;
$size: 25px;
$size-big: 40px;

.ColorOptions {
  display: flex;
  flex-direction: row;
  align-items: center;

  &_Item {
    width: $size;
    height: $size;
    border: 2px solid $disable;
    border-radius: $radius;
    margin-right: 8px;

    transition: transform 0.2s;

    &:hover {
      transform: $zoom-scale;
    }
  }

  &_ItemLarge {
    width: $size-big;
    height: $size-big;
    border: 2px solid $disable;
    border-radius: $radius;
    margin-right: 15px;

    transition: transform 0.2s;

    &:hover {
      transform: $zoom-scale;
    }
  }

  &___Selected {
    border-color: $black;
  }
}
