@import "../../theme/theme";

$radius: 15px;
$padding: 10px;

.ProductCard {
  display: flex;
  flex-direction: column;

  width: 100%;
  background: white;

  border-radius: $radius;

  box-shadow: $shadow-square;

  animation: fadein 1s;
  transition: transform 0.2s;

  &:hover {
    transform: $zoom-scale;
  }

  &_ImageCont {
    width: 100%;
    border-radius: $radius;
    overflow: hidden;
  }

  &_Image {
    width: 100%;
  }

  &_Content {
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  &_Heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: $padding;

    font-weight: bold;

    &_Title {
      font-size: 18px;
      letter-spacing: 0.5px;
    }

    &_Price {
      font-size: 18px;
      color: $secondary;
    }
  }

  &_Option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $padding;
  }

  &_Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $padding;
  }
}
