@import "../../theme/theme";

$radius: 15px;
$padding: 10px;

.ProductCard {
  display: flex;
  flex-direction: column;

  width: 100%;
  background: white;

  border-radius: $radius;

  box-shadow: $shadow-square;

  animation: fadein 1s;
  transition: transform 0.2s;

  position: relative;

  &:hover {
    transform: $zoom-scale;
  }

  &_Info {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    font-size: 12px;
    font-family: $number-font;

    &_Promo {
      color: $white;

      border-radius: 20px;
      background-color: $secondary;

      padding: 5px 15px;
      margin-right: 10px;
    }

    &_Favourite {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      width: 30px;
      height: 30px;

      background-color: $background-light;

      border-radius: 50%;
      box-shadow: $shadow-icon;

      &_Icon {
        font-size: 18px;

        &___Active {
          color: $secondary;
        }
      }
    }
  }

  &_ImageCont {
    width: 100%;
    border-radius: $radius;
    overflow: hidden;
  }

  &_Image {
    width: 100%;
  }

  &_Content {
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  &_Heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: $padding;

    font-weight: bold;

    &_Title {
      font-size: 18px;
      letter-spacing: 0.5px;
    }

    &_Price {
      font-size: 18px;
      color: $secondary;
    }
  }

  &_Option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $padding;
  }

  &_Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $padding;

    &_Rating {
      display: flex;
      flex-direction: row;
      align-items: center;

      font-size: 14px;
      font-family: $number-font;
      font-weight: bold;
      color: $disable;

      &_Icon {
        margin-right: 5px;
      }
    }

    &_Buy {
      display: flex;
      flex-direction: row;
      align-items: center;

      font-size: 14px;
      font-family: $number-font;
      font-weight: bold;
      color: $primary;

      &_Icon {
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
}

.ProductModal {
  border-radius: 20px;
  border: none;
}
