@import "../../theme/theme";

$radius: 50%;
$size: 25px;

.SizeOptions {
  display: flex;
  flex-direction: row;
  align-items: center;

  &_Item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;
    border: 2px solid $disable;
    border-radius: $radius;
    margin-left: 10px;

    font-size: 10px;
    font-weight: bold;
    color: $disable;

    &___Selected {
      border-color: $black;
    }
  }
}
