@import "../../theme/theme";

$radius: 50%;
$size: 25px;
$size-big: 40px;

.SizeOptions {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: $number-font;

  &_Item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;
    border: 2px solid $disable;
    border-radius: $radius;
    margin-left: 8px;

    font-size: 10px;
    font-weight: bold;
    color: $disable;

    transition: transform 0.2s;

    &:hover {
      transform: $zoom-scale;
    }
  }

  &_ItemLarge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size-big;
    height: $size-big;
    border: 2px solid $disable;
    border-radius: $radius;
    margin-right: 15px;

    font-size: 15px;
    font-weight: bold;
    color: $disable;

    transition: transform 0.2s;

    &:hover {
      transform: $zoom-scale;
    }
  }

  &___Selected {
    color: $primary;
    border-color: $primary;
  }
}
